<nav *ngIf="showHeader" class="navbar navbar-expand-lg">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link me-3" routerLink="/inbox" routerLinkActive="active">Emails</a>
        </li>
        <li class="nav-item">
            <a class="nav-link me-3" routerLink="/map" routerLinkActive="active">Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link me-3" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
    </ul>
</nav>