<div class="container mt-4">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let email of emails">
            <a [routerLink]="email.id" routerLinkActive="active" class="w-100 text-dark">
                <div class="content">
                    <p class="mb-1 ">
                        Subject: {{ email.subject }}
                    </p>
                    <p class="mb-1">
                        {{ email.from }}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>
